[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
